<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="main">
        <section class="question">
            <p>Question: {{question.question_text}}</p>
        </section>

        <section class="form">
            <form action="{% url 'myWebsite:submitPage' question.id %}" method="post">
                
                {% csrf_token %}

                {% for choice in choices %}
                <input type="radio" id="choice_{{ forloop.counter }}" name="choice" value="{{ choice.id }}">
                <label for="choice_{{ forloop.counter }}">{{ choice.choice_text}}</label>
                {% endfor %}

                <input type="submit" value="Submit">
            </form>
        </section>
    </article>
</body>
</html>